* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #e5e5e5;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  all: unset;
  border-bottom: 1px solid #aaaaaa;
  padding: 3px;
}
button {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  padding: 0.5rem 0.75rem;
  letter-spacing: 1px;
  background: #fff;
  transition: 300ms;

  &:hover {
    background: #aaaaaa;
    color: #ffffff;
  }
  &:disabled {
    color: #ff6d6d;
    border: 1px solid #ff6d6d;
    background: #fff;

    &:hover {
      background: #fff;
      color: #ff6d6d;
    }
  }
}
textarea {
  all: unset;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 200px;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
}
.center-register-login {
  padding: 0 120px 0 280px;
}
.welcome-page {
  text-transform: capitalize;
  text-align: center;
}
.button-edit,
.button-delete {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  padding: 0.5rem 0.75rem;
  letter-spacing: 1px;
  background: #fff;
  transition: 300ms;

  &:hover {
    background: #aaaaaa;
    color: #ffffff;
  }
}
.edit:hover {
  background: #78beff;
}
.delete:hover {
  background: #ff6d6d;
}

.login,
.register {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  form {
    background: #fff;
    padding: 40px;
    border-radius: 4px;
    width: 250px;
  }
  &__inputs {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 1rem;
      font-size: large;
    }
  }
  &__email-error {
    color: #ff6d6d;
    text-align: center;
    margin: 1rem 0;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    grid-gap: 10px;

    button {
      cursor: pointer;
    }
  }
}

.home {
  &__user-container {
    text-align: center;
  }
  &__user {
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__sidebar {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &__content {
    padding: 0 0 0 140px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link-container {
    margin-top: 3rem;

    li {
      text-align: center;
      margin: 0.5rem 0;
      padding: 0.25rem 0.5rem;
      border-radius: 3px;
      border: 1px solid #aaaaaa;
      cursor: pointer;
      &:hover {
        a {
          color: #ffffff;
        }
        background: #aaaaaa;
      }
    }
    a {
      color: #aaaaaa;
      font-size: 18px;
      transition: 300ms;
    }
  }
}

.user-table {
  width: 100%;
  max-width: 800px;
  background: #ffffff;
  border: 1px solid rgb(146, 146, 146);
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  th {
    padding: 1rem;
    border: 1px solid rgb(146, 146, 146);
  }
  td {
    border: 1px solid rgb(146, 146, 146);
    padding: 1rem;
  }

  &__buttons {
    text-align: center;

    button {
      cursor: pointer;
      margin-left: 1rem;
    }
  }
}

.posts {
  display: flex;
  flex-direction: column;

  &__container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: minmax(auto, 800px);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 20px;
  }
  &__add-post {
    text-align: center;
  }
  &__block {
    background: #ffffff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
  }
  &__title {
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  &__date {
    font-style: italic;
  }
  &__category {
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  &__date-category-container {
    display: flex;
    grid-gap: 20px;
  }
  &__tags {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 70px));
    grid-column: 5px;
    text-align: center;
    margin-bottom: 15px;
    grid-gap: 5px;

    div {
      background: rgb(109, 109, 109);
      color: #fff;
      text-transform: capitalize;
      font-weight: 300;
      padding: 3px;
      border-radius: 3px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    grid-gap: 20px;
  }
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.527);
  display: flex;
  justify-content: center;
  align-items: center;

  h4 {
    color: #aaaaaa;
    font-size: 16px;
  }

  &__error {
    text-align: center;
    color: #ff6d6d;
    transition: 300ms;
    align-content: flex-end;
  }
  &__content {
    width: 500px;
    max-width: 500px;
    background: #fff;
    border-radius: 3px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    input {
      width: 60%;
      margin: 0 auto;
      font-size: 18px;
      text-transform: capitalize;
    }
  }
  &__header {
    font-size: 20px;
    padding: 10px;
  }
  &__body {
    padding: 10px;
  }
  &__footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}

// Loading Component

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  &:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
  }
  &:after {
    background: #e5e5e5;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
