* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #e5e5e5;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  all: unset;
  border-bottom: 1px solid #aaaaaa;
  padding: 3px;
}

button {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  padding: 0.5rem 0.75rem;
  letter-spacing: 1px;
  background: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

button:hover {
  background: #aaaaaa;
  color: #ffffff;
}

button:disabled {
  color: #ff6d6d;
  border: 1px solid #ff6d6d;
  background: #fff;
}

button:disabled:hover {
  background: #fff;
  color: #ff6d6d;
}

textarea {
  all: unset;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 200px;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
}

.center-register-login {
  padding: 0 120px 0 280px;
}

.welcome-page {
  text-transform: capitalize;
  text-align: center;
}

.button-edit,
.button-delete {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  padding: 0.5rem 0.75rem;
  letter-spacing: 1px;
  background: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.button-edit:hover,
.button-delete:hover {
  background: #aaaaaa;
  color: #ffffff;
}

.edit:hover {
  background: #78beff;
}

.delete:hover {
  background: #ff6d6d;
}

.login,
.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login form,
.register form {
  background: #fff;
  padding: 40px;
  border-radius: 4px;
  width: 250px;
}

.login__inputs,
.register__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__inputs input,
.register__inputs input {
  margin-bottom: 1rem;
  font-size: large;
}

.login__email-error,
.register__email-error {
  color: #ff6d6d;
  text-align: center;
  margin: 1rem 0;
}

.login__buttons,
.register__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 10px;
}

.login__buttons button,
.register__buttons button {
  cursor: pointer;
}

.home__user-container {
  text-align: center;
}

.home__user {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 5px;
}

.home__sidebar {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  height: 100%;
  background: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home__content {
  padding: 0 120px 0 280px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__link-container {
  margin-top: 3rem;
}

.home__link-container li {
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  cursor: pointer;
}

.home__link-container li:hover {
  background: #aaaaaa;
}

.home__link-container li:hover a {
  color: #ffffff;
}

.home__link-container a {
  color: #aaaaaa;
  font-size: 18px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.user-table {
  width: 100%;
  max-width: 800px;
  background: #ffffff;
  border: 1px solid #929292;
  border-collapse: collapse;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-table th {
  padding: 1rem;
  border: 1px solid #929292;
}

.user-table td {
  border: 1px solid #929292;
  padding: 1rem;
}

.user-table__buttons {
  text-align: center;
}

.user-table__buttons button {
  cursor: pointer;
  margin-left: 1rem;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts__container {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 800px);
      grid-template-columns: minmax(auto, 800px);
  grid-auto-rows: minmax(100px, auto);
  row-gap: 20px;
}

.posts__add-post {
  text-align: center;
}

.posts__block {
  background: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}

.posts__title {
  text-transform: capitalize;
  margin-bottom: 5px;
}

.posts__date {
  font-style: italic;
}

.posts__category {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.posts__date-category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}

.posts__tags {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 70px))[3];
      grid-template-columns: repeat(3, minmax(auto, 70px));
  -ms-grid-column: 5;
  grid-column: 5px;
  text-align: center;
  margin-bottom: 15px;
  grid-gap: 5px;
}

.posts__tags div {
  background: #6d6d6d;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  padding: 3px;
  border-radius: 3px;
}

.posts__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-gap: 20px;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.527);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal h4 {
  color: #aaaaaa;
  font-size: 16px;
}

.modal__error {
  text-align: center;
  color: #ff6d6d;
  -webkit-transition: 300ms;
  transition: 300ms;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.modal__content {
  width: 500px;
  max-width: 500px;
  background: #fff;
  border-radius: 3px;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 20px;
}

.modal__form input {
  width: 60%;
  margin: 0 auto;
  font-size: 18px;
  text-transform: capitalize;
}

.modal__header {
  font-size: 20px;
  padding: 10px;
}

.modal__body {
  padding: 10px;
}

.modal__footer {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffffff), color-stop(42%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader:after {
  background: #e5e5e5;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */