@import "ebs-design/dist/styles/index.scss";

.form {
  background: #ffffff;
  width: 300px;
  border-radius: "5px";
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}
.content {
  overflow: auto;
}
.posts-body {
  display: grid;
  row-gap: 20px;
}

.posts {
  &__add-post {
    text-align: center;
  }
  &__block {
    background: #ffffff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
  }
  &__title {
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  &__date {
    font-style: italic;
  }
  &__category {
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  &__date-category-container {
    display: flex;
    grid-gap: 20px;
  }
  &__tags {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 70px));
    grid-column: 5px;
    text-align: center;
    margin-bottom: 15px;
    grid-gap: 5px;

    div {
      background: rgb(109, 109, 109);
      color: #fff;
      text-transform: capitalize;
      font-weight: 300;
      padding: 3px;
      border-radius: 3px;
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.527);
  display: flex;
  justify-content: center;
  align-items: center;

  h4 {
    color: #aaaaaa;
    font-size: 16px;
  }

  &__error {
    text-align: center;
    color: #ff6d6d;
    transition: 300ms;
    align-content: flex-end;
  }
  &__content {
    width: 500px;
    max-width: 500px;
    background: #fff;
    border-radius: 3px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    input {
      width: 60%;
      margin: 0 auto;
      font-size: 18px;
      text-transform: capitalize;
    }
  }
  &__header {
    font-size: 20px;
    padding: 10px;
  }
  &__body {
    padding: 10px;
  }
  &__footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}
